@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}

*
{
  margin:0;
  padding: 0;
}

body
{
  font-family: 'Raleway';
}

.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

/* .condiv class is for the right side content container*/

.condiv
{
  padding: 100px;
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, #e6f2ff 1px, transparent 1px),
    linear-gradient(to bottom, #e6f2ff 1px, transparent 1px);
  flex:var(--condiv-flex);
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills ul li
{
  list-style-type:none;
  margin:30px;
}

.profilepic
{
  border-radius: 50%;
  width: 200px;
  margin: 30px;
}

.typingeffect
{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

nav
{
  padding:60px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background: linear-gradient(180deg, rgba(0, 45, 179, 1) 45%, rgba(46, 184, 46, 1) 80%, rgba(255, 255, 230, 1) 97%);
}

nav ul
{
  font-size:var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li
{
  margin:40px;
}

.active
{
  font-weight: bolder;
}

.social
{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #b3e0ff;
}

.social i:hover
{
  color: #1aa3ff;
}

a
{
  text-decoration: none;
  color: white;
}

.subtopic
{
  margin:10px 10px 30px 10px !important;
}

p
{
  font-size: var(--fontsize-p);
}

h1, h2, h3, h4, p
{
  margin: 10px;
}

.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}

.widecard:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}